body {
    background-color:  #28829B    ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: red;
    padding-left: 2%;
    padding-top: 10%;
}