
body {
    background-color:  #28829B    ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    padding-left: 40%;
    padding-top: 10%;
}



head {
    background-color: white;
}

textarea {
    resize: none;
  }

.form-group {
    resize: none;
}

.main {
    /* width: %; */
}

button {
    border-radius: 3px;
    border-block-color: none;
    border: none;
    font-size: 200%;
    transition-duration: 0.3s;
}

button:hover {
    background-color: black;
    color: white;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}