head {
    padding-left: 45%;
    padding-top: 0%;
  }
  h1 {
    
    text-align: start;
    font-family: 'Oswald', Helvetica, sans-serif;
    font-size: 80px;
    transform: skewX(80%)
    letter-spacing: 3px;
    word-spacing: -8px;
    color: greenyellow;
    text-shadow: 
      -1px -1px 0 rgb(0, 94, 47),
      -2px -2px 0 rgb(0, 94, 47),
      -3px -3px 0 rgb(0, 94, 47),
      -4px -4px 0 rgb(0, 94, 47),
      -5px -5px 0 rgb(0, 94, 47),
      -6px -6px 0 rgb(0, 94, 47),
      -7px -7px 0 rgb(0, 94, 47),
      -8px -8px 0 rgb(0, 94, 47),
      -30px 20px 40px blue
}


body {
    
    background: radial-gradient(600px at 50% 50% , rgb(52, 165, 218) 20%, rgb(69, 55, 190) 100%);
    text-align: match-parent;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    padding-left: 35%;
    padding-top: 5%;

}


textarea {
    resize: none;
  }

.form-group {
    resize: none;
}

.main {
    /* width: %; */
}

button {
    border-radius: 3px;
    border-block-color: none;
    border: none;
    font-size: 200%;
    transition-duration: 0.3s;
}


